<nav class=" py-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      <a routerLink="/">Dashboard</a>
    </li>

  </ol>
  <h5>Dashboard</h5>
  <div class="row">
     <div class="col-lg-3 pb-3" style="background-color:#e9e6e6">
       <div class="row">
         <div class="col-11 text-white text-center mx-2 rounded pt-2 pv-2 font-weight-bold" style="background-color:#a39e39">
           {{Designation |uppercase}}
         </div>
         <div class="col-12 text-center mt-2">
           <img src="assets/images/imProfili.jpg" alt="" width="120px">
         </div>
         <div class="col-12 text-center mt-2 pb-2 pt-2 font-weight-bold">
          {{Username |uppercase}}
         </div>
         <div class="col-12 text-center mt-2 pb-2 pt-2 font-weight-bold">
         TeamSummary
       </div>
         <div class="col-12 mb-3">
           <ul class="list-group">
             <li class="list-group item d-flex!important justify-content-between align-items-center">
              <div class="d-flex">
               Team Member
               <span class="badge badge-secondary mx-3">{{NoOfTeamMembers}}</span>
              </div>
             </li>
             <li class="list-group item d-flex!important py-1 justify-content-between align-items-center">
               <div class="d-flex">
                 Total Cost of all project
                 <span class="badge badge-secondary mx-3">{{TotalCastOfAllProject}}</span>
               </div>
             </li>
             <li class="list-group item d-flex!important py-1 justify-content-between align-items-center">
               <div class="d-flex">
                 Pending Tasks
                 <span class="badge badge-secondary mx-3">{{PendingTasks}}</span>
               </div>
             </li>
             <li class="list-group item d-flex!important  py-1 justify-content-between align-items-center">
               <div class="d-flex">
                 UpcomingProject
                 <span class="badge badge-secondary mx-3">{{UpcomingProject}}</span>
               </div>
             </li>
           </ul>
         </div>
         <div class="clients col-12 mb-3">
           <ul class="list-group">
             <li class="list-group item d-flex!important justify-content-between align-items-center" *ngFor="let client of Clients">
               {{client}}
             </li>
           </ul>
         </div>
       </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12" style="background-color:#e9e6e6">
          <div class="row mt-2">
            <div class=" col-6 text-left">
              <div class="btn-group">
                <button type="button" class="btn btn-danger">Project</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let project of Projects"href="#" onclick="return false" (click)="onProjectChange($event)">{{project}}</a>
                </div>
              </div>
            </div>
            <div class="col-6 text-left">
              <div class="btn-group">
                <button type="button" class="btn btn-danger">2019</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a *ngFor="let year of Years"class="dropdown-item" href="#">
                    <span [ngSwitch]="year">
                       <span *ngSwitchCase="'2019'" style="color:green">
                      {{year}}
                    </span>
                    <span *ngSwitchCase="'2020'" style="color:red">
                      {{year}}
                    </span>
                    <span *ngSwitchCase="'2022'" style="color:black">
                      {{year}}
                    </span>
                    </span>

                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-11 mx-auto mt-1 text-center pt-2 pb-2 font-weight-bold" style="background-color:#718d97">
          Project Briefing
        </div>
        <div class="col-12">
          <table class="table table-borderless">
            <tr>
              <td>Project Cost</td>
              <td>{{ProjectCost}}</td>
            </tr>
            <tr>
              <td>Current Expenditure</td>
              <td>{{CurrentExpenditures}}</td>
            </tr>
            <tr>
              <td>Available Funds</td>
              <td>{{AvailableFunds}}</td>
            </tr>
          </table>
        </div>
        <div class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-2 rounded font-weight-bold" style="background-color:#718d97">
          Team Members Summary
        </div>
        <div class="col-12">
          <table class="table">
            <tr>
              <th>Region</th>
              <th>Team Members Count</th>
              <th>Temporary Unavailable Members</th>
            </tr>
            <tr *ngFor="let teamMember of TeamMembers">
              <td><b>{{teamMember.Region}}</b></td>
              <td>{{teamMember.TeamMemCount}}</td>
              <td>{{teamMember.unMem}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-3" style="background-color:#e9e6e6">
      <div class="row">
        <div class="col-11 mx-auto text-white text-center pt-1 pb-2 mx-2 font-weight-bold" style="background-color:#718d97">
            Team Members
        </div>
        <div class="col-lg-12 pt-2">
          <div class="accordion" id="accordionExample1">
            <div class="card"  *ngFor="let team of Teams; let i = index">

              <div class="card-header bg-secondary" id="card2">
                <h2 class="mb-0">
                  <button class="btn-link btn text-white" type="button" data-toggle="collapse" [attr.data-target]="'#cardbody'+i">
                      {{team.Region}}
                  </button>
                </h2>
              </div>
              <div [id] ="'cardbody'+i" class="collapse " [ngClass]="(i==0)?'show': ''">
                  <div class="card-body">
                    <div *ngIf="i==0; then firstTemplate; else secondTemplate">

                    </div>
                    <ng-template #firstTemplate>
                        <div class="card" *ngFor="let member of team.Members">
                          <div class="card-header">
                            {{member.Id}} {{member.Status}}
                          </div>
                          <div class="card-body">
                            {{member.Name}}
                          </div>
                        </div>
                    </ng-template>
                    <ng-template #secondTemplate>
                      <table class="table">
                        <thead>
                        <tr>
                          <th> Id</th>
                          <th> Status</th>
                          <th> Name</th>
                        </tr>
                        <tr *ngFor="let member of team.Members">
                          <td> {{member.Id}}</td>
                          <td [style.color]="(member.Status=='busy')?'red':'black'"> {{member.Status}}</td>
                          <td> {{member.Name}}</td>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
